---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: tektoncd-robot
  namespace: tekton-pipelines
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: tektoncd-role
rules:
- apiGroups:
  - '*'
  resources:
  - '*'
  verbs:
  - '*'
- nonResourceURLs:
  - '*'
  verbs:
  - '*'
---
apiVersion: rbac.authorization.k8s.io/v1
# This role binding allows "dave" to read secrets in the "development" namespace.
kind: ClusterRoleBinding
metadata:
  name: tektoncd-robot
subjects:
- kind: ServiceAccount
  name: tektoncd-robot # Name is case sensitiv
  namespace: tekton-pipelines
roleRef:
  kind: ClusterRole
  name: tektoncd-role
  apiGroup: rbac.authorization.k8s.io
